body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

:root {
    --PrimaryBrand: #4D5AE5;
    --PressedState: #404BBF;
    --TextColor: #2E2F42;
    --WhiteBackground: #FFFFFF;
    --BodyText: #434455;
    --Cloud: #F4F4FD;
}

button {
    cursor: pointer;
}

.page-header {
    background-color: var(--WhiteBackground);
}

.logo-link {
    text-decoration: none;
}


.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--PrimaryBrand);
}

.logo-studio {
    color: var(--TextColor);
}

.nav-list {
    list-style: none;
}

.nav-list-a {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--TextColor);
}

.nav-link {
    text-decoration: none;
}

.nav-list-a:hover,
.nav-list-a:focus {
    color: var(--PressedState);
}

.adress-links {
    font-style: normal;
}

.adress-list {
    list-style: none;
}

.adress-list-a {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--BodyText);
}

.adress-link-a:hover,
.adress-link-a:focus {
color: var(--PressedState);
}

.hero {
    background-color: #2E2F42;;       
}

.main-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}

.main-button {
    background-color: var(--PrimaryBrand);
    color: #FFFFFF;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
}

.main-button:hover {
    background-color: #404BBF;
}

.adventages ul {
list-style-type: none;
}

.list-adventages li > h3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;   
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.list-adventages li > p {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--BodyText);
}

.activity-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

.activity-list li {
    list-style-type: none;
}

.team-container {
    background-color: var(--Cloud);
}

.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
}

.team-list li {
    list-style-type: none;
    background: #FFFFFF;
}

.team-list li > h3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.team-list li > p {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--BodyText);
}

.page-footer {
    background: #2E2F42;;
}

.page-footer a {
    text-decoration: none;
}

.logo-footer {
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #F4F4FD;
}

.page-footer p {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
}

/* Portfolio */

.button-list li {
    list-style-type: none;
}

.button-list li > button {
    background-color: var(--Cloud);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #4D5AE5;
}

.button-list li > button:hover,
.button-list li > button:focus {
    background-color: var(--PressedState);
    color: #FFFFFF;
}

.project-cards-list li {
    list-style-type: none;
}

.project-cards-list a {
    text-decoration: none;
}

.cards-list h3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--TextColor);
}

.cards-list p {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--BodyText)
}