body {
    font-family: 'Roboto', sans-serif;
    color: #2E2F42;
    background-color: #FFFFFF;
}

:root {
    --PrimaryBrand: #4D5AE5;
    --PressedState: #404BBF;
    --TextColor: #2E2F42;
    --WhiteBackground: #FFFFFF;
    --BodyText: #434455;
    --Cloud: #F4F4FD;
}

button {
    cursor: pointer;
}

.page-header {
    background-color: var(--WhiteBackground);
}

.page-header a {
    text-decoration: none;
}

.page-header ul {
    list-style-type: none;
}

.logo {
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: 1.166666666666667;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    width: 71px;
    height: 21px;
    color: var(--TextColor)
}

.logo-web {
    width: 44px;
    height: 21px;
    color: #4D5AE5;
}

.nav-links li > a {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--TextColor)
}

.nav-links li > a:hover,
.nav-links li > a:focus {
    color: var(--PressedState);
}

.adress-links li > a {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--BodyText)
}

.adress-links li > a:hover,
.adress-links li > a:focus {
    color: var(--PressedState);
}

.hero {
    background-color: #2E2F42;;
    width: 1440px;
    height: 600px;        
    left: 0px;
    top: 72px;
}

.main-title {
    left: 472px;
    top: 260px;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.071428571428571;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}

.main-button {
    background-color: var(--PrimaryBrand);
    left: 636px;
    top: 428px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    padding: 16px 32px;
    gap: 10px;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 16px;
    display: flex;
    align-items: center;
    letter-spacing: 0.04em;
    white-space: nowrap;
}

.main-button:hover {
    background-color: var(--PressedState);
}

.adventages ul {
list-style-type: none;
}

.list-adventages li > h3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;   
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.list-adventages li > p {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--BodyText);
}

.activity-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.111111111111111;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

.activity-list li {
    list-style-type: none;
    gap: 24px;
}

.team-container {
    background-color: var(--Cloud);
}

.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.111111111111111;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
}

.team-list li {
    list-style-type: none;
    background: #FFFFFF;
    width: 264px;
    height: 380px;
    gap: 24px;
}

.team-list li > h3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.team-list li > p {
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--BodyText);
}

.page-footer {
    background: #2E2F42;;
}

.page-footer a {
    text-decoration: none;
}

.logo-footer {
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: 1.166666666666667;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #F4F4FD;
}

.page-footer p {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
}

/* Portfolio */

.button-list li {
    list-style-type: none;
}

.button-list li > button {
    background-color: var(--Cloud);
    border: 1px solid #E7E9FC;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 24px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
    color: #4D5AE5;
}

.button-list li > button:hover,
.button-list li > button:focus {
    background-color: var(--PressedState);
    color: #FFFFFF;
}

.project-cards-list li {
    list-style-type: none;
}